    body {
        background-color: #01676B;
        
    }

    hr {

        border-style: dotted;
        border-color:#EFEFEF;
        border-width: 5px;
        border-bottom-style: none;

        height: 0px;
        width: 2.5%;
    }


    h1 {
        color: #FFCE89;
    }

    h3 {
        color: #FFCE89;
        
    }

    p {
        color: white;
    }
    ul {
         color: white;
     }

     table {
         color: white;
     }

     body {
         color: white;
     }
    
   .link:hover {
         color:#FFCE89;
     }
    
